extends layout

block layout-content
  div.View
    div.NavButtons
      a(href="/login")
          div.NavButton Login
      a(href="/register-client")
          div.NavButton Register as client
      a(href="/register-worker")
          div.NavButton Register as worker
      a(href="/jobs")
          div.NavButton Jobs
          